.contact {
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;

}
#svg {
    position: absolute;
    top: -69px;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}
.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,600 L 0,0 C 49.82167961524233,65.8708102108768 99.64335923048466,131.7416204217536 156,161 C 212.35664076951534,190.2583795782464 275.2482426933037,182.90432852386238 332,214 C 388.7517573066963,245.09567147613762 439.36366999630036,314.6410654827969 484,329 C 528.6363300036996,343.3589345172031 567.2970773214947,302.53140954495007 614,302 C 660.7029226785053,301.46859045504993 715.448020717721,341.2332963374028 782,318 C 848.551979282279,294.7667036625972 926.9108398076212,208.5354051054384 982,196 C 1037.0891601923788,183.4645948945616 1068.9086200517943,244.62508324084354 1112,282 C 1155.0913799482057,319.37491675915646 1209.4546799852014,332.96426193118754 1266,282 C 1322.5453200147986,231.03573806881246 1381.2726600073993,115.51786903440623 1440,0 L 1440,600 L 0,600 Z");
    }

    25% {
        d: path("M 0,600 L 0,0 C 51.3481317055124,113.42932544086815 102.6962634110248,226.8586508817363 157,284 C 211.3037365889752,341.1413491182637 268.5630780614132,341.9947219139228 327,327 C 385.4369219385868,312.0052780860772 445.0514243433223,281.1624614625724 489,236 C 532.9485756566777,190.83753853742755 561.2312245652978,131.3554322357874 615,158 C 668.7687754347022,184.6445677642126 748.0236773954866,297.415809594278 815,288 C 881.9763226045134,278.584190405722 936.6740658527563,146.98132938710074 989,115 C 1041.3259341472437,83.01867061289924 1091.2800591934886,150.65887285731904 1134,168 C 1176.7199408065114,185.34112714268096 1212.205697373289,152.38317918362316 1262,116 C 1311.794302626711,79.61682081637686 1375.8971513133556,39.80841040818843 1440,0 L 1440,600 L 0,600 Z");
    }

    50% {
        d: path("M 0,600 L 0,0 C 35.2493772351708,110.67243803181651 70.4987544703416,221.34487606363302 130,240 C 189.5012455296584,258.655123936367 273.25435935380443,185.2929337772845 337,193 C 400.74564064619557,200.7070662227155 444.48380811444076,289.483388827229 484,270 C 523.5161918855592,250.51661117277098 558.8104081884326,122.77351091379947 615,128 C 671.1895918115674,133.22648908620053 748.2745591318289,271.4225675175731 814,322 C 879.7254408681711,372.5774324824269 934.0913552842521,335.5362190159082 981,300 C 1027.9086447157479,264.4637809840918 1067.3600197311628,230.43255641879395 1114,221 C 1160.6399802688372,211.56744358120605 1214.4685657910964,226.733555308916 1270,194 C 1325.5314342089036,161.266444691084 1382.7657171044518,80.633222345542 1440,0 L 1440,600 L 0,600 Z");
    }

    75% {
        d: path("M 0,600 L 0,0 C 68.89840917499075,65.07653224811938 137.7968183499815,130.15306449623876 184,156 C 230.2031816500185,181.84693550376124 253.7111357750648,168.4642742631644 303,198 C 352.2888642249352,227.5357257368356 427.3586385497596,299.9898384511037 480,302 C 532.6413614502404,304.0101615488963 562.8543100258971,235.57637193242076 613,217 C 663.1456899741029,198.42362806757924 733.2241213466519,229.70467381921316 795,264 C 856.7758786533481,298.29532618078684 910.2492045874953,335.60493279072637 969,313 C 1027.7507954125047,290.39506720927363 1091.7790603033666,207.87559501788135 1149,206 C 1206.2209396966334,204.12440498211865 1256.6345541990381,282.8926871377482 1304,262 C 1351.3654458009619,241.1073128622518 1395.682722900481,120.5536564311259 1440,0 L 1440,600 L 0,600 Z");
    }

    100% {
        d: path("M 0,600 L 0,0 C 49.82167961524233,65.8708102108768 99.64335923048466,131.7416204217536 156,161 C 212.35664076951534,190.2583795782464 275.2482426933037,182.90432852386238 332,214 C 388.7517573066963,245.09567147613762 439.36366999630036,314.6410654827969 484,329 C 528.6363300036996,343.3589345172031 567.2970773214947,302.53140954495007 614,302 C 660.7029226785053,301.46859045504993 715.448020717721,341.2332963374028 782,318 C 848.551979282279,294.7667036625972 926.9108398076212,208.5354051054384 982,196 C 1037.0891601923788,183.4645948945616 1068.9086200517943,244.62508324084354 1112,282 C 1155.0913799482057,319.37491675915646 1209.4546799852014,332.96426193118754 1266,282 C 1322.5453200147986,231.03573806881246 1381.2726600073993,115.51786903440623 1440,0 L 1440,600 L 0,600 Z");
    }
}

.details {
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--primary);
    color: white;
    font-weight: 800;
}

.contactform {
    background-color: var(--bg);
    padding: 1rem;
    width: 70%;
    margin: 3rem auto;
    align-items: normal;
}



.form {
    border: 2px solid black;
    width: 65%;
    padding: 1rem;
}

.border {
    border: 2px solid black;
    padding: 1rem;
}

.label input {
    height: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    letter-spacing: 2px;
}

.form textarea {
    border: 2px solid black;
    
    outline: none;
    font-family: inherit;
    letter-spacing: 2px;
    width: 100% !important;
    max-height: 10rem;
    padding: 1rem;
}

.form button {
    width: 100% ;
    background-color: var(--primary);
    text-align: center;
    outline: none;
    text-align: center;
    color: white;
    font-weight: 900;
    letter-spacing: 2;
    border: none;
    padding: 1rem 0;
}