.goal0 {
    background-color: #965cff54;
    padding: 1rem;
    border-radius: 1rem;
}
.goal1 {
    background-color: #965cff54;
    padding: 1rem;
    border-radius: 1rem;
}
.goal2 {
    background-color: #965cff54;
    padding: 1rem;
    border-radius: 1rem;
}