

.main-swiper {
  width: 100%;
  height: 100vh;
}


.main-swiper .swiper-pagination-bullet:not(.testiswiper .swiper-pagination-bullet) {
  width: 18px;
  height: 18px;
  border: 4px solid var(--purple);
  background: transparent;
  transition: 0.5s;
}
.main-swiper .swiper-pagination-bullet-active:not(.testiswiper .swiper-pagination-active) {
  transform: translateX(-50%);
}

::-webkit-scrollbar {
  display: none;
}
.main-swiper .swiper {
  width: 100%;
  height: 100%;
}

.swiper-no-drag {
  pointer-events: none;
}

.main-swiper .swiper-slide {
}

.main-swiper .swiper-slide img {
}


.contai {
  width: 100%;
  height: 100%;
  padding: 5rem;

}

.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f5dbcf;
  border-radius: 1rem;
  padding: 1rem;
}

.wave {
  position: absolute;
    top: 0;
    /* transform: translateY(-50%); */
    left: 0;
    /* transform: translateX(-50%); */
    transform: translate(-49%, -49%);
    width: 244%;
    border-radius: 50%;
    z-index: 0;
}